:host {
    display: block;
}

.item {
  text-decoration: none;
  padding: 15px 0;
  display: block;
  color: #222;

  &__name {
    margin: 0 0 10px;
  }

  &_high-priority {
    .item__name {
      color: #B00;
    }
  }
}